{% extends 'base.html.twig' %}

{% block title %} Country {{ country.name }} {% endblock %}

{% block body %}

    <h2>{{ country.name }}</h2>
    <h3>{{ country.content }}</h3>
    <p>{{ country.image }}</p>


{% endblock %}